.oogo__header {
  display: flex;
  flex-direction: row;
  padding: 0rem 6rem;
}

.oogo__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.oogo__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.04em;
}

.oogo__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);

  margin-top: 1.5rem;
}

.oogo__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oogo__header-image img {
  margin: 0;
}

@media screen and (max-width: 1050px) {
  .oogo__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .oogo__header-content h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .oogo__header-content p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .oogo__header {
    flex-direction: column;
  }
  .oogo__header-content h1 {
    font-size: 20px;
    line-height: 28px;
  }
  .oogo__header-image img {
    width: 30%;
    height: 30%;
  }

  .oogo__header-content p {
    font-size: 12px;
    line-height: 20px;
  }
}
